<header id="header" class="header">
  <div class="container">
    <a class="header-logo" href="index.html" aria-label="Organic Shop">
      <svg class="header-logo-icon" width="142" height="60">
        <use href="/img/icons.svg#icon-company-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="index.html">Home</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#mission">Mission</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#assorts">Assortment</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#feedbacks">Feedbacks</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <a href="#assorts" class="header-btn-order">Order</a>
    <button class="header-button-menu" type="button" aria-label="Open menu">
      <svg class="header-menu-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <div class="mobmenu-overlay" id="mobile-menu">
      <div class="mobmenu">
        <div class="mobmenu-header">
          <a class="header-logo" href="index.html" aria-label="Organic Shop">
            <svg class="header-logo-icon" width="142" height="60">
              <use href="/img/icons.svg#icon-company-logo"></use>
            </svg>
          </a>

          <button class="mobmenu-button-close" type="submit">
            <svg class="form-icon-close" width="32" height="32">
              <use href="/img/icons.svg#icon-x"></use>
            </svg>
          </button>
        </div>
        <nav class="mobmenu-nav">
          <ul class="mobmenu-nav-list">
            <li class="header-nav-item">
              <a class="header-nav-link" href="index.html">Home</a>
            </li>

            <li class="header-nav-item">
              <a class="header-nav-link" href="#mission">Mission</a>
            </li>

            <li class="header-nav-item">
              <a class="header-nav-link" href="#benefits">Benefits</a>
            </li>

            <li class="header-nav-item">
              <a class="header-nav-link" href="#assorts">Assortment</a>
            </li>

            <li class="header-nav-item">
              <a class="header-nav-link" href="#feedbacks">Feedbacks</a>
            </li>

            <li class="header-nav-item">
              <a class="header-nav-link" href="#faq">FAQ</a>
            </li>

            <li class="header-nav-item">
              <a class="header-nav-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <a href="#assorts" class="mobmenu-btn-order">Order</a>
      </div>
    </div>

    <div class="tabmenu-overlay" id="tablet-menu">
      <div class="container">
        <div class="tabmenu">
          <button class="tabmenu-button-close" type="button" name="Menu">
            <svg class="tab-menu-icon-close" width="24" height="24">
              <use href="/img/icons.svg#icon-x"></use>
            </svg>
          </button>
          <nav class="tabmenu-nav">
            <ul class="tabmenu-nav-list">
              <li class="header-nav-item">
                <a class="header-nav-link" href="index.html">Home</a>
              </li>

              <li class="header-nav-item">
                <a class="header-nav-link" href="#mission">Mission</a>
              </li>

              <li class="header-nav-item">
                <a class="header-nav-link" href="#benefits">Benefits</a>
              </li>

              <li class="header-nav-item">
                <a class="header-nav-link" href="#assorts">Assortment</a>
              </li>

              <li class="header-nav-item">
                <a class="header-nav-link" href="#feedbacks">Feedbacks</a>
              </li>

              <li class="header-nav-item">
                <a class="header-nav-link" href="#faq">FAQ</a>
              </li>

              <li class="header-nav-item">
                <a class="header-nav-link" href="#contacts">Contacts</a>
              </li>
            </ul>
          </nav>
          <a href="#assorts" class="tabmenu-btn-order">Order</a>
        </div>
      </div>
    </div>
  </div>
</header>
