<section id="header" class="section section-header">
  <div class="container">
    <a class="header-logo" href="index.html" aria-label="Organic Shop">
      <svg class="header-logo-icon" width="142" height="60">
        <use href="/img/icons.svg#icon-company-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="index.html">Home</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#mission">Mission</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#assorts">Assortment</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#feedbacks">Feedbacks</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>

        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <a href="#assorts" class="header-btn-order">Order</a>

    <svg class="header-menu-icon" width="32" height="32">
      <use href="/img/icons.svg#icon-menu"></use>
    </svg>
  </div>
</section>
