<section id="mission" class="section section-mission">
  <div class="container container-mission">
    <div class="mission-content">
      <h2 class="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>

      <p class="mission-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>

    <picture class="mission-image">
      <!-- Desktop -->
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/mission/mission-desktop-team-cooking.jpg   1x,
          /img/mission/mission-desktop-team-cooking2x.jpg 2x
        "
      />

      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        srcset="
          /img/mission/mission-tablet-team-cooking.jpg   1x,
          /img/mission/mission-tablet-team-cooking2x.jpg 2x
        "
      />

      <!-- Mobile -->
      <img
        src="/img/mission/mission-mob-team-cooking.jpg"
        srcset="
          /img/mission/mission-mob-team-cooking.jpg 1x,
          /img/mission/mission-mob-team-cooking2x.jpg 2x
        "
        sizes="
      (min-width: 1200px) 1312px,
      (min-width: 768px) 704px,
      343px
    "
        alt="People prepraring food"
        loading="lazy"
      />
    </picture>
  </div>
</section>
