.section-faq .container {
  background-color: #5e8a4d;
  color: #ffff;
}

.faq-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.faq-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.faq-list {
}
.faq-item {
  position: relative;
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  padding-top: 22.5px;
  padding-bottom: 24px;
  min-width: 343px;
}
.faq-item:last-child {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.faq-question {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}
.faq-icon-arrow-up {
  fill: #ffff;
  position: absolute;
  right: 0;
  top: 20px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-icon-arrow-down {
  fill: #ffff;
  position: absolute;
  right: 0;
  top: 20px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-item-combo[open] .faq-icon-arrow-up {
  opacity: 1;
}

.faq-item-combo[open] .faq-icon-arrow-down {
  opacity: 0;
}

.faq-item-combo[open] .faq-answer {
  max-height: 300px;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .faq-description {
    max-width: 362px;
  }
  .faq-item {
    min-width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-faq .container {
    display: flex;
    justify-content: space-between;
  }
  .faq-item {
    width: 867px;
  }

  .faq-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
  }
}
